<!doctype html>
<html class="no-js" lang="en">
    {% include '_partials/head.twig' %}
    <body>
    {% block content %}
    {% endblock %}
    {% block js %}
        <script src="{{ astuteoMix('/site-assets/js/app.js') }}"></script>
    {% endblock js %}
    </body>
</html>